.case-left {
  padding-left: 6.8vw;
  padding-top: 44vh;
  color: $white;
  @media (max-width: 575.98px) {
    padding-top: 15vh;
    padding-bottom: 20vh;
  }
  h2 {
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }
  p {
    margin-top: 4.85vh;
    max-width: 380px;
    font-size: 2.75rem;
    letter-spacing: -1.32px;
    span {
      color: $orange;
    }
  }
}

.case-right {
  padding: 0px;
  img {
    width: 100%;
  }
}
