// ================================================
// 					FOOTER
// ================================================

.footer {
  overflow: hidden;
  padding: 20.37vh 2.34vw 2vh 6.25vw;
  color: $white;
  @media (max-width: 991.98px) {
    padding: 7vh 6.25vw 2vh;
  }
  h2 {
    font-family: "Tiempos Headline";
    font-weight: 500;
    font-size: 3.75rem;
    letter-spacing: -1.92px;
    margin-bottom: 40px;
    @media (max-width: 575.98px) {
      font-size: 3.75rem;
      margin-bottom: 15px;
    }
    span {
      color: $orange;
    }
  }
  .copyright {
    margin-top: 60px;
    font-size: 0.75rem;
    @media (max-width: 991.98px) {
      margin-top: 0;
    }
    img {
      width: 100%;
      max-width: 150px;
      @media (max-width: 991.98px) {
        max-width: 130px;
      }
      @media (max-width: 575.98px) {
        max-width: 80px;
      }
    }
    span {
      margin: 0 0 10px 30px;
      @media (max-width: 991.98px) {
        margin: 0 0 5px 0;
      }
    }
    a {
      display: block;
      color: $white;
    }
  }
  .nav-footer {
    margin: 0 auto 10px;
    nav {
      width: 100%;
    }
    ul {
      max-width: 380px;
      list-style: none;
      padding: 0;
      margin: 0;
      @media (max-width: 991.98px) {
        max-width: 100%;
      }
      li {
        display: inline-block;
        a {
          display: block;
          color: $white;
          span {
            display: inline-block;
            position: relative;
            text-align: center;
            border-radius: 50%;
            background-color: rgb(255, 192, 102);
            width: 20px;
            height: 20px;
            top: -10px;
            color: $very-dark-brown;
            font-weight: 700;
            line-height: 22px;
            @media (max-width: 575.98px) {
              width: 10px;
              height: 10px;
              line-height: 13px;
              top: -3px;
            }
          }
        }
      }
    }
  }
  .newsletter {
    max-width: 400px;
    @media (max-width: 991.98px) {
      max-width: 300px;
      margin-bottom: 4vh;
    }
    @media (max-width: 575.98px) {
      max-width: 100%;
    }
    h3 {
      font-size: 2.12rem;
      letter-spacing: -1px;
      @media (max-width: 991.98px) {
        margin-bottom: 3vh;
      }
    }
    form {
      position: relative;
      width: 100%;

      input {
        border: none;
        border-bottom: solid 1px $orange;
        background-color: transparent;
        color: $white;
        outline: none;
        font-weight: bold;
        padding-bottom: 20px;
        width: 100%;
        @media (max-width: 991.98px) {
          margin-bottom: 2vh;
        }
        &::placeholder {
          color: $white;
        }
      }
      button {
        position: absolute;
        background-color: transparent;
        color: $white;
        outline: none;
        border: none;
        right: 0;
      }
    }
    .nav-social-media {
      width: 100%;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          a {
            display: block;
            color: $white;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .ellipse-footer::before {
    content: "";
    display: block;
    border-width: 5px;
    border-color: $orange;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    transform: translate(51%, -13%);
    width: 54.04vw;
    height: 54.04vw;
    z-index: 283;
  }
  .ellipse-footer::after {
    content: "";
    display: block;
    border-width: 1px;
    border-color: $orange;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    transform: translate(51%, -12%);
    width: 52.01vw;
    height: 52.01vw;
    z-index: 258;
  }
}
