// =================================================
//                      HEADER
// =================================================
.header-nav {
  transition: background-color 0.2s;
  img {
    width: 100%;
    max-width: 260px;
    @media (max-width: 991.98px) {
      max-width: 150px;
    }
    @media (max-width: 575.98px) {
      max-width: 100px;
    }
  }
  a {
    font-family: "Maison Neue";
    font-weight: bold;
    color: $very-dark-brown;
    letter-spacing: -0.6px;
    font-size: 1.25rem;
    @media (max-width: 991.98px) {
      color: $white;
    }
  }
  .navbar-toggler {
    outline: none;
    color: $very-dark-brown;
    border: none;
    font-size: 2rem;
  }
}

.nav-scroll {
  background: black;
  transition: background-color 0.2s;
}
