// =================================================
//                      HEADER
// =================================================
.main-header {
  position: absolute;
  z-index: 1000;
  background: transparent;
  img {
    width: 100%;
    max-width: 260px;
    @media (max-width: 991.98px) {
      max-width: 150px;
    }
    @media (max-width: 575.98px) {
      max-width: 100px;
    }
  }
}
.nav-header {
  a {
    font-family: "Maison Neue";
    font-weight: bold;
    color: $very-dark-brown;
    letter-spacing: -0.6px;
    font-size: 1.25rem;
    @media (max-width: 991.98px) {
      color: $white;
    }
  }
}
