.hero-left {
  position: relative;
  padding-left: 120px;
  h1 {
    margin-top: 30vh;
    font-size: 100px;
    font-family: "Tiempos Headline";
    font-weight: 600;
    span {
      text-decoration: underline;
      text-decoration-color: $orange;
    }
    @media (max-width: 991.98px) {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 36px;
    margin-bottom: 90px;
    margin-top: 100px;
  }

  .ellipse-outer {
    border-width: 5px;
    border-color: rgb(31, 34, 43);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: -1120px;
    top: -50px;
    width: 1172px;
    height: 1172px;
    z-index: 475;
  }
  .ellipse-inner {
    border-width: 1px;
    border-color: rgb(31, 34, 43);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: -1100px;
    top: -30px;
    width: 1133px;
    height: 1133px;
    z-index: 474;
  }
}

.hero-right {
  position: relative;
  overflow-x: hidden;

  padding-left: 120px;
  background: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    z-index: 300;
    color: $light-gray;
    margin-bottom: 65px;
    span {
      color: $orange;
    }
  }
  .ellipse-outer {
    border-width: 5px;
    border-color: rgb(31, 34, 43);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: 190px;
    top: -460px;
    width: 1172px;
    height: 1172px;
    z-index: 473;
  }
  .ellipse-inner {
    border-width: 1px;
    border-color: rgb(31, 34, 43);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: 210px;
    top: -440px;
    width: 1133px;
    height: 1133px;
    z-index: 472;
  }
}
