// =================================================
//                      HERO
// =================================================

.hero-left {
  position: relative;
  padding: 20.37vh 2.34vw 8.62vh 6.25vw;
  @media (max-width: 991.98px) {
    padding: 7vh 6.25vw 8.62vh;
  }
  h2 {
    font-size: 5.25rem;
    font-family: "Tiempos Headline";
    font-weight: 600;
    span {
      text-decoration: underline;
      text-decoration-color: $orange;
    }
    @media (max-width: 575.98px) {
      font-size: 3.75rem;
    }
  }
  p {
    font-size: 2rem;
    margin-top: 10.7vh;
    @media (max-width: 991.98px) {
      margin-top: 5vh;
    }
    @media (max-width: 575.98px) {
      font-size: 1.75rem;
    }
  }
  a {
    margin-top: 8.62vh;
    margin-right: 3.1vw;
    @media (max-width: 991.98px) {
      margin-top: 4vh;
    }
  }
}

.hero-right {
  position: relative;
  padding: 0;
  overflow: hidden;
  @media (max-width: 991.98px) {
    background-position: center;
    min-height: 40vh;
  }
  p {
    z-index: 10;
    font-size: 2.25rem;
    color: $light-gray;
    span {
      color: $orange;
    }
    padding: 20.37vh 2.34vw 8.62vh 6.25vw;
    @media (max-width: 991.98px) {
      padding: 7vh 6.25vw 8.62vh;
    }
    @media (max-width: 575.98px) {
      font-size: 1.75rem;
    }
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 992px) {
    &:before {
      content: "";
      display: block;
      border-width: 1px;
      border-color: rgb(31, 34, 43);
      border-style: solid;
      border-radius: 50%;
      position: absolute;
      left: 190px;
      top: -530px;
      width: 1133px;
      height: 1133px;
      z-index: 284;
    }
    &:after {
      content: "";
      display: block;
      border-width: 5px;
      border-color: rgb(31, 34, 43);
      border-style: solid;
      border-radius: 50%;
      position: absolute;
      left: 170px;
      top: -545px;
      width: 1172px;
      height: 1172px;
      z-index: 285;
    }
  }
}
