.insights-top-left {
  padding-left: 6.26vw;
  padding-top: 100px;
  @media (max-width: 991.98px) {
    padding-top: 7vh;
    padding-left: 6.25vw;
  }
  .d-flex {
    height: 100%;
  }
  h2 {
    font-family: "Tiempos Headline";
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: -1.92px;
    margin-bottom: 30px;
    @media (max-width: 575.98px) {
      font-size: 3.75rem;
      margin-bottom: 15px;
    }
  }
}

.insights-top-right {
  padding-top: 110px;
  @media (max-width: 991.98px) {
    padding-top: 4vh;
    padding-left: 6.25vw;
  }
  h2 {
    margin-right: 60px;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    line-height: 1;
  }
  span {
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: -0.6px;
    line-height: 1;
  }
  p {
    margin-bottom: 0;
    margin-top: 2.77vh;
    font-size: 2.5rem;
    letter-spacing: -1.2px;
    max-width: 750px;
    line-height: normal;
    @media (max-width: 991.98px) {
      max-width: none;
    }
    @media (max-width: 575.98px) {
      font-size: 1.75rem;
    }
  }
}

.insights-bottom {
  padding: 85px 120px 0;
  @media (max-width: 991.98px) {
    padding: 2vh 6.25vw 0;
  }
  img {
    width: 100%;
  }
}
