nav {
  a {
    font-family: "Maison Neue";
    font-weight: bold;
    color: $very-dark-brown;
    letter-spacing: -0.6px;
    font-size: 1.25rem;
  }
  img {
    width: 326px;
    height: 78px;
  }
}
