// ================================================
// 							PROJECT VARIABLES
// ================================================
// COLORS

$white		: #FFF;
$black		: #000000;
$selection	: #de1f267d;



// BACKGROUND-COLORS



// ================================================
//							 AUXILIAR VARIABLES
// ================================================

// SOCIAL MEDIA COLORS
$tw			: #55ACEE;  // TWITTER
$fb			: #3B5998;  // FACEBOOK
$gp			: #DD4B39;  // GOOGLE+
$yt			: #FF3333;  // YOUTUBE
$pin		: #CB2027;  // PINTEREST
$ig			: #517fa4;  // INSTAGRAM
$li 		: #007bb6;  // LINKEDIN