// ================================================
// 							PROJECT VARIABLES
// ================================================
// COLORS

$white: #ffffff;
$black: #000000;
$selection: #de1f267d;

$very-dark-brown: #020000;
$orange: #ffc167;
$light-gray: #e6e6e6;

// BACKGROUND-COLORS
$bg-almost-white: #f4f4f4;
$bg-almost-black: #171717;
$bg-light-gray: #e6e6e6;

// ================================================
//							 AUXILIAR VARIABLES
// ================================================

// SOCIAL MEDIA COLORS
$tw: #55acee; // TWITTER
$fb: #3b5998; // FACEBOOK
$gp: #dd4b39; // GOOGLE+
$yt: #ff3333; // YOUTUBE
$pin: #cb2027; // PINTEREST
$ig: #517fa4; // INSTAGRAM
$li: #007bb6; // LINKEDIN
